# Bicep
*.bicepparam.local

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# WSL/Windows ADS
*:Zone.Identifier

# keys
keys/*

# folders
test/